@font-face {
    font-family: 'webYekan';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    src: url('../../assets/fonts/YekanWeb-Regular.woff') format('woff');
}

.card, .card-title, .card-description, .k-grid {
    font-family: "webYekan", Tahoma, Arial !important;
}

.btn, .ajax-upload-dragdrop .ajax-file-upload, .swal2-modal .swal2-buttonswrapper .swal2-styled, .swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm, .swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel, .wizard > .actions a {
    font-family: "webYekan", Tahoma, Arial !important;
}

table th {
    font-family: "webYekan", Tahoma, Arial !important;
}

.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .tt-hint, .tt-query, .typeahead {
    font-family: "webYekan", Tahoma, Arial !important;
}

.accordion .card .card-header a {
    font-family: "webYekan", Tahoma, Arial !important;
}

.no-scroll .k-grid-content {
    overflow-y: hidden;
}

/*right language*/
.no-scroll .k-grid-header {
    padding-right: 0 !important;
}

.k-grid [role="gridcell"], .k-grid .k-header {
    text-align: right;
}

.k-grid-pager {
    direction: ltr;
}

