@font-face {
    font-family: 'webYekan';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    src: url('../../assets/fonts/YekanWeb-Regular.woff') format('woff');
}

* {
    font-family: "webYekan", Tahoma, Arial !important;
}
